
body {
    background: #3e3e3e;
    display: flex;
    justify-content: center; 
  }
  
  .game-container {
    width: 100%;
    display: flex;
    justify-content: center;
  }
  
  .board {
    width: 500px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  
  
  .title {
    width: 100%;
    padding: 20px 0;
    text-align: center;
    color: #fff;
    font: 30px sans-serif;
    text-transform: uppercase;
  }
  
  .control {
    display: flex;
    justify-content: space-evenly;
    margin: 30px 0;
    color:rgb(168, 170, 170);
    font: 18px sans-serif;
    text-transform: uppercase;
  }
  .cell {
      width: 100px;
      height: 100px;
      margin-bottom: 10px;
      margin-right: 10px;
      background: rgb(146, 143, 143);
      border-radius: 50%;
      cursor: url(images/3c997de4510862c69027.png), auto; 
  }
  
  .active {
      background-image: url(images/2dbd01ce16c0fa83cb67.png);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
  }

  .color-active {
    background-image: url(images/cdb25b7eadd39bb4904c.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
  }

  
  
